<div class="shadow-2 surface-card border-round-xl p-4">
  <div class="flex flex-column md:flex-row lg:flex-column">
    <div class="flex align-items-center justify-content-center p-2 md:p-4">
      <p-skeleton shape="circle" size="10rem" styleClass="my-3"></p-skeleton>
    </div>
    <div class="pb-3 w-12 md:w-8 lg:w-12">
      <p-skeleton width="80%" styleClass="mb-3"></p-skeleton>
      <p-skeleton width="60%" styleClass="mb-5"></p-skeleton>
      <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
      <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
      <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
    </div>
  </div>
  <div class="border-bottom-1 surface-border pb-2">
    <p-skeleton width="40%" styleClass="mb-2"></p-skeleton>
  </div>
  <div class="flex gap-4 pt-4">
    <p-skeleton width="5rem" height="5rem" styleClass="mb-2"></p-skeleton>
    <div class="w-6">
      <p-skeleton width="90%" styleClass="mb-2"></p-skeleton>
      <p-skeleton width="70%" styleClass="mb-2"></p-skeleton>
    </div>
  </div>
</div>
