<app-slide-container
  [data]="facade.promotionsSignal()"
  (isSelected)="facade.selectProductId = $event"
  title="Our Promotions" />

<app-messages-container [data]="facade.messagesSignal()" />

<app-slide-container [data]="facade.bestsSignal()" title="Our Bests Seller" />

<app-proffer-container [data]="facade.proffersSignal()" />

<app-reviews-container [data]="facade.reviewsSignal()" />

<p-dialog
  header="Header"
  [(visible)]="isVisible"
  (onHide)="facade.selectProductId = null"
  position="bottom"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '80vw' }"
  ><app-product-details *ngIf="facade.selectedProduct() as data" [data]="data"
/></p-dialog>
